<article
  class="flex gap-3 flex-col p-5 rounded-lg border border-[var(--border)] bg-[var(--surface-800)] hover:border-[var(--primary)] hover:bg-gradient-card-hover hover:shadow-[inset_0_30px_60px_rgba(0,179,126,0.07)] transition-all duration-500 ease-out cursor-pointer"
>
  <header class="flex items-center justify-between">
    <span
      class="inline-flex items-center justify-center rounded-full px-3 py-1 text-xs font-bold text-[var(--primary)] border border-[var(--border)] bg-[var(--bg-start)] tracking-[0.72px]"
    >
      {{ course.category | uppercase }}
    </span>

    <div class="flex items-center gap-2">
      <button
        (click)="onEdit()"
        aria-label="Editar curso"
        routerLink=":id"
        class="flex group p-1.5 text-[var(--text-low)] transition-colors hover:bg-[var(--surface-secondary)] hover:text-[var(--text-high)] rounded-md border border-[var(--border)]"
      >
        <svg
          class="h-4 w-4"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          aria-hidden="true"
        >
          <path
            d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13"
            stroke="#4A5568"
            stroke-width="2"
          />
          <path
            d="M18.5 2.49998C18.8978 2.10215 19.4374 1.87866 20 1.87866C20.5626 1.87866 21.1022 2.10215 21.5 2.49998C21.8978 2.8978 22.1213 3.43737 22.1213 3.99998C22.1213 4.56259 21.8978 5.10215 21.5 5.49998L12 15L8 16L9 12L18.5 2.49998Z"
            stroke="#4A5568"
            stroke-width="2"
          />
        </svg>
      </button>
      <button
        (click)="onDelete()"
        aria-label="Excluir curso"
        class="group rounded-md border border-[var(--border)] p-1.5 text-[var(--text-low)] transition-colors hover:bg-[var(--surface-secondary)] hover:text-[var(--text-high)] hover:border-[color:var(--danger)]"
      >
        <svg
          class="h-4 w-4 stroke-[#4A5568] group-hover:stroke-[color:var(--danger)] transition-colors duration-200 ease-in-out"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          aria-hidden="true"
        >
          <path d="M3 6H5H21" stroke-width="2" />
          <path
            d="M19 6L18.1429 19.1429C18.1429 19.6883 17.9261 20.2114 17.5403 20.5972C17.1546 20.983 16.6314 21.2 16.0857 21.2H7.91429C7.36863 21.2 6.84547 20.983 6.45968 20.5972C6.07389 20.2114 5.85714 19.6883 5.85714 19.1429L5 6"
            stroke-width="2"
          />
          <path d="M10 11V17M14 11V17" stroke-width="2" />
        </svg>
      </button>
    </div>
  </header>

  <!-- Seção de Conteúdo: Título e Descrição -->
  <main class="flex flex-col gap-2">
    <h3 class="text-lg font-bold text-[var(--text-high)]">
      {{ course.name }}
    </h3>
    <p class="text-sm text-[var(--text-medium)]">
      {{ course.description }}
    </p>
  </main>

  <!-- Seção Inferior: Metadados do Curso -->
  <footer class="flex items-center gap-6 border-t border-[var(--border)] pt-4">
    <div class="flex items-center gap-2 text-sm text-[var(--text-medium)]">
      <svg
        class="h-4 w-4 text-[var(--primary)]"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        aria-hidden="true"
      >
        <path d="M10 3H3V10H10V3Z" />
        <path d="M21 3H14V10H21V3Z" />
        <path d="M10 14H3V21H10V14Z" />
        <path d="M21 14H14V21H21V14Z" />
      </svg>
      <span>{{ course.modules.length }} módulos</span>
    </div>
    <div class="flex items-center gap-2 text-sm text-[var(--text-medium)]">
      <svg
        class="h-4 w-4 text-[var(--primary)]"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        aria-hidden="true"
      >
        <path d="M23 7L16 12L23 17V7Z" />
        <path
          d="M14 5H3C1.89543 5 1 5.89543 1 7V17C1 18.1046 1.89543 19 3 19H14C15.1046 19 16 18.1046 16 17V7C16 5.89543 15.1046 5 14 5Z"
        />
      </svg>

      <span>{{ getTotalLessons() }} aulas</span>
    </div>
  </footer>
</article>
@if (showDeleteModal) {
  <app-confirm-delete-couse-dialog
    [courseName]="course.name"
    (cancel)="onCancelDelete()"
    (confirmDelete)="confirmDeleteCourse($event)"
  ></app-confirm-delete-couse-dialog>
}
