<div class="flex align-center justify-center mt-10" style="border: 1px solid red">
  <header class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <span class="text-sm text-[var(--text-muted)] font-semibold">Cursos</span>
      <img
        class="w-[12px] shrink-0"
        src="/ChevronRight.svg"
        alt="Seta indicando navegação para a direita"
      />
      <span class="text-[var(--text-medium)] font-semibold">Novo curso</span>
    </div>

    <!-- Título -->
    <h1 class="text-[32px] font-bold leading-none text-[var(--text-high)]">Criar novo curso</h1>

    <!-- Subtítulo -->
    <p class="text-sm text-[var(--text-medium)] font-normal">
      Preencha as informações e organize o conteúdo em módulos e aulas
    </p>
  </header>
</div>
