<div class="w-full flex h-1/2 pl-[383px] pt-[40.5px] pb-10">
  <main class="max-w-6xl w-full">
    <app-course-card-filter
      [courseCount]="allCourses.length"
      [currentView]="currentView"
      (searchChanged)="onSearchChanged($event)"
      (viewChanged)="onViewChanged($event)"
    ></app-course-card-filter>

    @if (courses$ | async; as courses) {
      @if (courses.length > 0) {
        <section
          class="mt-8"
          [ngClass]="{
            'grid grid-cols-3 gap-6': currentView === 'grid',
            'flex flex-col gap-4': currentView === 'list',
          }"
        >
          @for (course of courses; track course.id) {
            <app-course-card [course]="course"></app-course-card>
          }
        </section>
      } @else if (allCourses.length === 0 && !isSearching) {
        <app-empty-search-result
          title="Nenhum curso ainda"
          message="Comece criando seu primeiro curso."
          buttonText="Criar primeiro curso"
          (buttonClick)="navigateToCreateCourse()"
        >
        </app-empty-search-result>
      } @else {
        <app-empty-search-result title="Nenhum Resultado" message="Tente outro termo de busca">
        </app-empty-search-result>
      }
    }
  </main>
</div>
